# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
questions.md
Report.md


# Gradio
.gradio/

# Dataset & runtime files
data/
runs/

# Generated reports (images) & runtime logs
static/reports/
logs/*.log

# OS / Editor
.vscode/
.DS_Store

# Jupyter
.ipynb_checkpoints/
